<div class="shadow-lg p-3 mb-5 my-3 bg-white rounded">
    <div class="row">
        <div class="col-sm-8" > 
            <h3 > Lista de Ordens de Serviço - {{listaVeiculosPorId.veiculoNome}} </h3>
        </div>
        <div class="col-sm-4 ">
            <div class="float-right">
                <a href="/CadastrarOs" class="btn btn-outline-secondary btn-sm">
                    <fa-icon style="font-size: 22px;" [icon] ="faPlusCircle"></fa-icon> Cadastrar OS
                </a>
            </div>    
        </div>
    </div>
    
 
    <table class="table table-striped my-3">
        <thead>
          <tr>
            <th scope="col"> Ações </th>
            <th scope="col"> Ordem </th>
            <th scope="col"> Data </th>
            <th scope="col"> Tipo </th>
            <th scope="col"> Veículo </th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
                <a href="/EditarOs/{{id}}" class="btn btn-outline-secondary btn-sm">
                    editar
                </a>
            </th>
            <td>Ford Fiesta 07</td>
            <td>Ford Fiesta 07</td>
            <td><span class="badge badge-warning"><b>PREVENTIVA</b></span></td>
            <td>Ford Fiesta 07</td>
          </tr>
          <tr>
            <th scope="row">
                <a href="/VisualizarOS" class="btn btn-outline-secondary btn-sm">
                    editar
                </a>
            </th>
            <td>Ford Fiesta 07</td>
            <td>Ford Fiesta 07</td>
            <td>Ford Fiesta 07</td>
            <td>Ford Fiesta 07</td>
          </tr>
        </tbody>
      </table>
</div>

