<div class="shadow-lg p-3 mb-5 my-4 bg-white rounded">
    <h3> Veículos </h3>
    <hr>
    <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col"> Manutenções </th>
            <th scope="col"> Veículo </th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
                <a href="/VisualizarOS" class="btn btn-outline-secondary btn-sm">
                    <fa-icon style="font-size: 22px;" [icon] ="faListCheck"></fa-icon>
                </a>
            </th>
            <td>Ford Fiesta 07</td>
          </tr>
        </tbody>
      </table>
</div>
