<div class="shadow-lg p-3 mb-5 my-4 bg-white rounded">
    <h3> Veículos </h3>
    <hr>
    <table class="table table-borderless">
        <thead>
          <tr>
            <th class="col-1" > Manutenções </th>
            <th class="col-11"> Veículo </th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaVeiculos">
            <th class="text-center">
                <a href="/VisualizarOS" class="btn btn-outline-secondary btn-sm">
                    <fa-icon  [icon] ="faListCheck"></fa-icon>
                </a>
            </th>
            <td>{{item.veiculoNome}}</td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination 
                [collectionSize]="TotalLista"
                (pageChange)="pageChange($event)"
                [maxSize]="5"
                [rotate]="true"
                [ellipses]="false"
                [pageSize]="PageSize"
                [boundaryLinks]="true">
              </ngb-pagination>
</div>
